.icon-blank {
    background: url('icons/blank.gif') no-repeat center center;
}

.icon-add {
    background: url('icons/edit_add.png') no-repeat center center;
}

.icon-edit {
    background: url('icons/pencil.png') no-repeat center center;
}

.icon-clear {
    background: url('icons/clear.png') no-repeat center center;
}

.icon-remove {
    background: url('icons/edit_remove.png') no-repeat center center;
}

.icon-save {
    background: url('icons/filesave.png') no-repeat center center;
}

.icon-cut {
    background: url('icons/cut.png') no-repeat center center;
}

.icon-ok {
    background: url('icons/ok.png') no-repeat center center;
}

.icon-no {
    background: url('icons/no.png') no-repeat center center;
}

.icon-cancel {
    background: url('icons/cancel.png') no-repeat center center;
}

.icon-ip {
    background: url('icons/ip.png') no-repeat center center;
}

.icon-reload {
    background: url('icons/reload.png') no-repeat center center;
}

.icon-search {
    background: url('icons/search.png') no-repeat center center;
}

.icon-print {
    background: url('icons/print.png') no-repeat center center;
}

.icon-price {
    background: url('icons/price.png') no-repeat center center;
}

.icon-help {
    background: url('icons/help.png') no-repeat center center;
}

.icon-undo {
    background: url('icons/undo.png') no-repeat center center;
}

.icon-redo {
    background: url('icons/redo.png') no-repeat center center;
}

.icon-back {
    background: url('icons/back.png') no-repeat center center;
}

.icon-sum {
    background: url('icons/sum.png') no-repeat center center;
}

.icon-tip {
    background: url('icons/tip.png') no-repeat center center;
}

.icon-showStyle {
    background: url('icons/showStyle.png') no-repeat center center;
}

.icon-filter {
    background: url('icons/filter.png') no-repeat center center;
}

.icon-man {
    background: url('icons/man.png') no-repeat center center;
}

.icon-lock {
    background: url('icons/lock.png') no-repeat center center;
}

.icon-more {
    background: url('icons/more.png') no-repeat center center;
}

.icon-role {
    background: url('icons/role.png') no-repeat center center;
}

.icon-detail {
    background: url('icons/detail.png') no-repeat center center;
}

.icon-image {
    background: url('icons/image.png') no-repeat center center;
}

.icon-auto-cols {
    background: url('icons/autoCols.png') no-repeat center center;
}

.icon-reply {
    background: url('icons/reply.png') no-repeat center center;
}

.icon-expertToExcel {
    background: url('icons/expertToExcel.png') no-repeat center center;
}

.icon-feedback {
    background: url('icons/liuyan-1.png') no-repeat center center;
}

.icon-zubie {
    background: url('icons/zubie.png') no-repeat center center;
}

.icon-add-y {
    background: url('icons/add_y.png') no-repeat center center;
}

.icon-del-y {
    background: url('icons/del_y.png') no-repeat center center;
}

.icon-edit-y {
    background: url('icons/edit_y.png') no-repeat center center;
}

.icon-search-y {
    background: url('icons/search_y.png') no-repeat center center;
}

.icon-role-y {
    background: url('icons/role_y.png') no-repeat center center;
}

.icon-detail-y {
    background: url('icons/detail_y.png') no-repeat center center;
}

.icon-detail-y-2 {
    background: url('icons/detail_y2.png') no-repeat center center;
}

.icon-mini-add {
    background: url('icons/mini_add.png') no-repeat center center;
}

.icon-mini-edit {
    background: url('icons/mini_edit.png') no-repeat center center;
}

.icon-mini-refresh {
    background: url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture {
    background: url('icons/large_picture.png') no-repeat center center;
}

.icon-large-clipart {
    background: url('icons/large_clipart.png') no-repeat center center;
}

.icon-large-shapes {
    background: url('icons/large_shapes.png') no-repeat center center;
}

.icon-large-smartart {
    background: url('icons/large_smartart.png') no-repeat center center;
}

.icon-large-chart {
    background: url('icons/large_chart.png') no-repeat center center;
}

.icon-suo {
    background: url('icons/suo-3.png') no-repeat center center;
}

.icon-yaoshi {
    background: url('icons/yaoshi-4.png') no-repeat center center;
}

.icon-earlyposting {
    background: url('icons/earlyposting.png') no-repeat center center;
}

.icon-earlyposting-s {
    background: url('icons/earlyposting-s.png') no-repeat center center;
}

.icon-zhuanti {
    background: url('icons/zhuanti.png') no-repeat center center;
}

.icon-juanqi {
    background: url('icons/juanqi.png') no-repeat center center;
}

.icon-fenlei {
    background: url('icons/fenlei.png') no-repeat center center;
}

.icon-author {
    background: url('icons/author-s.png') no-repeat center center;
}

.icon-reference {
    background: url('icons/reference-s.png') no-repeat center center;
}

.icon-image-2 {
    background: url('icons/image-s.png') no-repeat center center;
}

.icon-location {
    background: url('icons/house.png') no-repeat center center;
}

.icon-article {
    background: url('icons/article.png') no-repeat center center;
}

.icon-article-new {
    background: url('icons/article-new.png') no-repeat center center;
}

.icon-column {
    background: url('icons/column.png') no-repeat center center;
}

.icon-chanpin {
    background: url('icons/chanpin.png') no-repeat center center;
}

.icon-menu {
    background: url('icons/menu.png') no-repeat center center;
}

.icon-order {
    background: url('icons/order.png') no-repeat center center;
}

.icon-qikan {
    background: url('icons/qikan.png') no-repeat center center;
}

.icon-android {
    background: url('icons/android.png') no-repeat center center;
}

.icon-xiaoguo {
    background: url('icons/xiaoguo.png') no-repeat center center;
}

.icon-yingyong {
    background: url('icons/yingyong.png') no-repeat center center;
}

.icon-zubie-s {
    background: url('icons/zubie-s.png') no-repeat center center;
}

.icon-vi {
    background: url('icons/vi.png') no-repeat center center;
}

.icon-news {
    background: url('icons/news.png') no-repeat center center;
}

.icon-high {
    background: url('icons/high.png') no-repeat center center;
}

.icon-ztzg {
    background: url('icons/ztzg.png') no-repeat center center;
}

.icon-oepn {
    background: url('icons/oepn.png') no-repeat center center;
}

.icon-dy {
    background: url('icons/dy.png') no-repeat center center;
}

.icon-channel {
    background: url('icons/channel.png') no-repeat center center;
}